@import url(https://unpkg.com/chota@latest);


html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Karla', sans-serif;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
}

	/* my own shit */
	/* all light mode versions */
.tr-head {
	color: rgb(51, 20, 228);
	font-size: 42px;
	margin-bottom: 0px;
	margin-left: 8px;
}

.tr-sub {
	color: rgb(51, 20, 228);
	font-size: 26px;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0px;
	margin-left: 24px;
}
.fw-200 {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fullName {
	font-weight: 200;
	font-style: italic;
	font-size: 24px;
	padding-top: 0%;
}
.fw-400 {
	font-weight: 400;
}

	/* Dashed border */
hr.dashed {
	border-top: 1px dashed rgb(0, 0, 0);
}

	/* for clock.svelte */
.clock {
	color: #ffffff;
	font-family: 'Karla';
	font-size: 36px;
	font-weight: 200;
	font-style: normal;
	margin-bottom: 0px
}

.clock-background {
	background: rgb(129,190,236);
	background: linear-gradient(180deg, rgba(129,190,236,1) 5%, rgba(17,103,171,1) 95%);
}

	/* values of the day changes */
.up {
	color: green;
}
.down {
	color: red;
}
.neutral {
	color: inherit;
}


	/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: rgb(37, 37, 37);
        --bg-secondary-color: #131316;
        --font-color: #f5f5f5;
        --color-grey: #ccc;
        --color-darkGrey: #777;
    }

    .tr-head {
        color: rgb(255, 255, 255);
        font-size: 42px;
        margin-bottom: 0px;
        margin-left: 8px;
    }

	.fullName {
		color: rgb(255, 255, 255);
		font-weight: 200;
		font-style: italic;
		font-size: 24px;
		padding-top: 0%;
	}

    .tr-sub {
        color: rgb(255, 255, 255);
        font-size: 26px;
        font-weight: normal;
        font-style: normal;
        margin-bottom: 0px;
        margin-left: 24px;
    }
    .clock {
        color: #ffffff;
        font-family: 'Karla';
        font-size: 36px;
        font-weight: 200;
        font-style: normal;
        margin-bottom: 0px
    }

    .clock-background {
        background: rgb(17,17,16);

    }

    /* color blind friendly */
    .up {
        color: #005AB5;
    }
    .down {
        color: #DC3220;
    }
    .neutral {
        color: inherit;
    }
}