@import url(https://unpkg.com/chota@latest);

:root {
	--bg-color: #000000;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

	/* my own shit */
.lcd {
	color: #39FF14;
	font-size: 48px;
	font-family: 'ds-digitalbold', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0px;
	margin-left: 8px;
	/* This one below fucking sucks if you have it on a Pi :P */
	/* filter: drop-shadow(5px 2.5px 3px #37ff14ce); */
	}

	/* Dashed border */
hr.dashed {
border-top: 1px dashed rgb(0, 0, 0);
}

	/* Solid border */
hr.solid {
	border-top: 7px solid rgb(0, 0, 0);
}
.regulartext {
	color: #39FF14;
	font-size: 26px;
	font-family: 'ds-digitalbold', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0px;
	margin-left: 24px;
}

.clock {
	color: #39FF14;
	font-size: 36px;
	font-family: 'ds-digitalbold', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0px
}

.thetop {
	margin-top: 36px;
}

p.thetop {
	margin-top: 9px;
}

.clock-background {
	background-color: #14854F;
	opacity: 100%;
}